/* Global */
.body {
    text-align: center;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}


button {
    text-align: center;
    background-color: mediumpurple;
    border-color: black;
    color: white ;
    font-size: 18px;
    padding: 0px 12px 0px 12px;
    display: inline-block;
   }


/* Nav */
#showHighScores {
    color:mediumpurple 
}

 #timer {
    float: right;
    padding-right: 30px; 
 }


/* Quiz Start */

/* Quiz Questions */

li {
    list-style: none;
    padding: 5px;
}

.answerButtons {
    text-align: center;
    border-color: black;
    color: white ;
    font-size: 18px;
    padding: 0px 12px 0px 12px;
   }

/* Quiz Complete Page */


/*media query */

@media screen and (max-width: 640px) {
    body {
           min-width: 640px;
    }
    }